@import url("https://fonts.googleapis.com/css2?family=Racing+Sans+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Neucha&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  overflow-x: hidden;
}

body {
  font-family: "Racing Sans One", cursive;
  overflow-x: hidden;
  background-color: #242630;
}

::-webkit-scrollbar {
  display: none;
}

.reveal {
  opacity: 0 !important;
  transition: all 0.8s !important;
  transform: translateY(20px) !important;
}

.show {
  opacity: 1 !important;
  transform: translateY(0) !important;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(36, 38, 48, 0.9);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  position: fixed;
  border-bottom: 2px solid rgba(61, 61, 62, 0.5);
  padding: 0 8px;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100vw;
  min-width: 200px;
  height: 70px;
}
nav #logo {
  z-index: 10;
  height: 1.4em;
  width: 1.4em;
  font-size: 2.5rem;
  color: #de8258;
  border: 2px solid #de8258;
  opacity: 0;
  transition: all 0.4s;
}
nav .menu {
  z-index: 11;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  color: #de8258;
  font-size: 30px;
  background-color: rgb(29, 29, 48);
  height: 100vh;
  width: 100%;
  top: 0;
  right: -100vw;
  overflow-y: hidden !important;
}
nav .menu a {
  text-decoration: none;
  color: #de8258;
  margin-top: 3rem;
  opacity: 0;
  transform: translateY(-20px);
  transition: all 0.4s;
}
nav .menu p {
  width: 100%;
  text-align: right;
  margin-top: 1rem;
  padding-right: 2rem;
  font-size: 18px;
}
nav .menu .links {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
nav .menu .links .fade-down {
  opacity: 1;
  transform: translateY(0);
}
nav #burger {
  color: #de8258;
  font-size: 4rem;
  z-index: 10;
  padding-bottom: 6px;
  margin-right: -6px;
  opacity: 0;
  transition: all 0.4s;
}
nav .fade-in {
  opacity: 1 !important;
}

@media (min-width: 992px) {
  nav .menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: 100%;
    position: static;
    right: 0;
    font-size: 24px;
  }
  nav .menu .links {
    flex-direction: row;
  }
  nav .menu .links a {
    padding: 0 6px;
    margin: 0;
  }
  nav #close-menu, nav #burger {
    display: none;
  }
}
#home .socials {
  margin: 6rem 0 2rem 0;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: 32px;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.3s;
}
#home .socials a {
  color: #F7F9FB;
}
#home .socials i {
  padding: 0 24px;
}

.resume-box {
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 14rem;
}
.resume-box #resume-btn {
  font-size: clamp(2.2rem, 1.8rem + 1vw, 3rem);
  text-decoration: none;
  color: #de8258;
  background-color: #F7F9FB;
  border: 4px solid #de8258;
  padding: 0.5em 0.6em;
  border-radius: 4px;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.3s;
}
.resume-box #resume-btn:hover {
  background-color: #de8258;
  border: 4px solid #F7F9FB;
  color: #F7F9FB;
  cursor: pointer;
  transition-delay: 0;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  min-height: 15vh;
  min-width: 200px;
  background-color: #242630;
  font-family: "Neucha", monospace, cursive;
}
footer .contact-message {
  margin: 2rem 0;
}
footer p {
  color: #F7F9FB;
  font-size: 16px;
  text-align: center;
}
footer a {
  font-size: 16px;
  color: #F7F9FB;
  text-decoration: none;
  text-align: center;
}
footer #git {
  color: #de8258;
}
footer #foot-info {
  margin: 1rem 0;
}

#home {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  min-height: 100vh;
  min-width: 30rem;
  background-color: #242630;
  overflow: hidden;
}
#home .title-box {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 60%;
  width: 100%;
  margin-top: 16rem;
  padding-left: 6%;
}
#home h1 {
  font-size: 48px;
  color: #de8258;
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.3s;
}
#home .fade-up {
  opacity: 1;
  transform: translateY(0);
}
#home .fade-in {
  opacity: 1;
}
#home .title-line {
  min-height: 4px;
  background-color: #69696F;
  border-radius: 4px 0 0 4px;
  transform: translateX(100%);
  transition: all 0.3s;
}
#home .enter-right {
  transform: translateX(0);
}
#home h2 {
  font-size: clamp(3rem, 2rem + 5vw, 5rem);
  color: #d79576;
  padding-left: 1em;
  transition: all 0.3s;
  opacity: 0;
  transform: translateY(-20px);
}
#home .fade-down {
  opacity: 1;
  transform: translateY(0);
}

.bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 40%;
  width: 100%;
}

.shape {
  display: none;
  position: absolute;
  transform: rotate(340deg);
  left: -28%;
  bottom: 26%;
  background-color: #F7F9FB;
  height: 54%;
  width: 132%;
  border-radius: 50%;
  border: 4px solid #de8258;
}

@media (min-width: 576px) {
  #home .title-box {
    padding-left: 18%;
  }
  #home .title-box h1 {
    font-size: 50px;
  }
  #home .title-box h2 {
    font-size: 35px;
  }
}
@media (min-width: 768px) {
  #home .title-box {
    padding-left: 14%;
  }
  #home .title-box h1 {
    font-size: 65px;
  }
  #home .title-box h2 {
    font-size: 45px;
  }
  .shape {
    height: 60%;
    width: 135%;
  }
}
@media (min-width: 992px) {
  #home .title-box {
    padding-left: 16%;
  }
  #home .title-box h1 {
    font-size: 65px;
  }
  #home .title-box h2 {
    font-size: 45px;
  }
}
@media (min-width: 1200px) {
  #home h1 {
    font-size: 75px;
  }
  #home h2 {
    font-size: 55px;
  }
}
#about {
  opacity: 0;
  transition: all 0.3s;
  font-size: clamp(2rem, 1.5rem + 1vw, 3rem);
  position: relative;
  min-height: 100vh;
  min-width: 30rem;
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: #E9C161;
  overflow: hidden;
}
#about a {
  color: #69696F;
}
#about a:hover {
  color: #78D3C7;
}
#about p {
  font-family: "Neucha", monospace, cursive;
  padding: 12px;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.237);
  border-top: 4px solid black;
  border-bottom: 4px solid black;
}
#about h3 {
  margin-top: 2rem;
  font-size: 28px;
  padding-left: 8%;
}
#about .about-title {
  z-index: 3;
  padding-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: end;
  width: 100%;
}
#about .about-title h2 {
  font-size: clamp(3rem, 2rem + 5vw, 5rem);
  padding-right: 2rem;
}
#about .about-title .title-line {
  z-index: 3;
  min-height: 4px;
  width: 45%;
  background-color: #69696F;
  border-radius: 4px 0 0 4px;
}
#about .about-text {
  z-index: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: inherit;
  margin: 3rem 0;
}
#about .about-text p {
  color: #242630;
  width: min(64rem, 80%);
  margin: 0 auto;
  overflow: hidden;
}
#about .about-text .about-open {
  font-family: "Racing Sans One", cursive;
  color: #F7F9FB;
  margin-top: 4rem;
}
#about .about-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 3;
  flex-grow: 1;
  opacity: 0;
  transition: all 0.4s;
}
#about .about-top img {
  width: min(35rem, 65%);
  border-radius: 8px;
  border-top: 4px solid #242630;
  border-bottom: 4px solid #242630;
  margin-top: 4rem;
}
#about .about-bottom {
  z-index: 3;
  flex-grow: 1;
  opacity: 0;
  transition: all 0.4s;
}
#about .skills-title {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#about .title-line {
  z-index: 3;
  height: 4px;
  width: 40%;
  background-color: #69696F;
  border-radius: 0 4px 4px 0;
}

.skills-container {
  display: grid;
  place-items: center;
  margin: 3rem 2rem 4rem 2rem;
}

#skills-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 18px 0;
  background-color: rgba(0, 0, 0, 0.08);
  width: min(56rem, 80%);
  min-width: 280px;
  border-top: 4px solid #242630;
  border-bottom: 4px solid #242630;
}
#skills-list ul {
  color: #F7F9FB;
  font-size: 2rem;
  list-style: none;
}

@media (min-width: 992px) {
  #about .about-text {
    flex-direction: row;
    justify-content: space-evenly;
  }
  #about .about-text .skills-title {
    text-align: center;
    font-size: 28px;
    padding-left: 0;
    padding-right: 25%;
  }
  #about .about-text p, #about .about-text img {
    margin: 0 1rem;
  }
  #about .about-text img {
    width: 27rem;
  }
  #about .about-text .skills-title h3 {
    text-align: center;
    padding-left: 0;
    padding-right: 25%;
  }
}
#projects {
  opacity: 0;
  transition: all 0.3s;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  min-height: 100vh;
  min-width: 200px;
  width: 100vw;
  overflow: hidden;
  background-color: #78D3C7;
}
#projects a {
  color: #242630;
}
#projects a:hover {
  color: #de8258;
}
#projects .pro-title {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}
#projects .pro-container {
  z-index: 2;
  display: flex;
  height: 100%;
  width: 100vw;
  flex-grow: 1;
  overflow: hidden;
  overflow-x: scroll;
  -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
}
#projects .project-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#projects h2 {
  font-size: clamp(3rem, 2rem + 5vw, 5rem);
  color: #242630;
  width: 100%;
  text-align: right;
  margin-top: 2rem;
  padding-right: 2rem;
}
#projects h3 {
  font-size: 2.5em;
  color: #242630;
}
#projects h4 {
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
}
#projects p {
  font-size: clamp(2rem, 1.5rem + 1vw, 3rem);
  font-family: "Neucha", monospace, cursive;
}
#projects .pro-1, #projects .pro-2 {
  scroll-snap-align: start;
  display: flex;
  flex-grow: 1;
  min-width: 100%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
#projects .list {
  max-height: 38em;
}
#projects .pro-content {
  text-align: justify;
  margin: 2rem 0;
  width: min(64rem, 80%);
}
#projects .pro-content p {
  border-top: 4px solid #242630;
  border-bottom: 4px solid #242630;
  background-color: rgba(255, 255, 255, 0.3);
  padding: 1rem;
}
#projects .pro-content .lang {
  width: 36rem;
  -moz-columns: 2;
       columns: 2;
  text-align: center;
  list-style: none;
  padding: 2rem;
}
#projects .pro-content .options {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2em;
}
#projects .pro-content .options .icons a {
  padding: 0 1rem;
}
#projects .pro-content .options .icons a:visited {
  color: #242630;
}
#projects .pro-content .options .icons a:hover {
  color: #de8258;
}
#projects .pro-content .list-open, #projects .pro-content .puzz-open {
  font-family: "Neucha", monospace, cursive;
  font-size: 2em;
}
#projects .pro-content .list-open:hover, #projects .pro-content .puzz-open:hover {
  color: #de8258;
  cursor: pointer;
}

.pro-2 {
  scroll-snap-align: start;
  min-width: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.puzz {
  max-width: 520px;
  width: 80%;
}

.lang {
  -moz-columns: 2;
       columns: 2;
  text-align: center;
  list-style: none;
  width: 36rem;
  padding: 2rem 0;
}

.list-modal, .puzz-modal {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 15;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.modal-box {
  background-color: #F7F9FB;
  border-radius: 8px;
  border-top: 4px solid #242630;
  border-bottom: 4px solid #242630;
  padding: 0 1rem;
  margin: 0 2rem;
  width: max(43rem, 65%);
}
.modal-box .list-close, .modal-box .puzz-close {
  text-align: right;
  margin-top: 1rem;
}
.modal-box .list-close:hover, .modal-box .puzz-close:hover {
  color: #de8258;
}
.modal-box .content {
  padding: 2rem 3rem 4rem 2rem;
  line-height: 1.5;
}

.active {
  display: flex;
}

.index {
  display: flex;
  justify-content: space-around;
  width: min(46%, 15rem);
  padding: 12px;
}
.index .circle {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: #F7F9FB;
}
.index .circle:first-child {
  background-color: grey;
}

#contact {
  opacity: 0;
  transition: all 0.3s;
  position: relative;
  height: 40px;
  min-height: 85vh;
  min-width: 200px;
  background-color: #de8258;
  display: flex;
  flex-direction: column;
}
#contact h2 {
  font-size: clamp(3rem, 2rem + 5vw, 5rem);
  color: #242630;
  margin-top: 3rem;
  margin-left: 2rem;
}
#contact .title-line {
  min-height: 4px;
  width: 55%;
  background-color: #69696F;
}
#contact h3 {
  font-size: 24px;
}
#contact p {
  margin-top: 1rem;
  text-align: justify;
  font-size: clamp(2rem, 1.5rem + 1vw, 3rem);
  font-family: "Neucha", monospace, cursive;
}
#contact .container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
#contact .contact-message {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
  margin: 2rem 0;
  border-top: 4px solid #242630;
  border-bottom: 4px solid #242630;
  width: min(64rem, 80%);
  background-color: rgba(255, 255, 255, 0.3);
}
#contact .socials {
  margin: 2rem 0 0 0;
}
#contact .socials > a {
  font-size: 28px;
  padding: 0 2rem;
  color: #F7F9FB;
}
#contact .socials > a:visited {
  color: #F7F9FB;
}

#contact > .circle {
  display: none;
  position: absolute;
  bottom: 33px;
  left: 35px;
  height: 122vw;
  width: 80vw;
  border-radius: 50%;
  background-color: #F7F9FB;
  transform: rotate(62deg);
}/*# sourceMappingURL=style.css.map */