.socials {
  z-index: 1;
  width : 100%;
  display: flex;
  justify-content: center;
  font-size: 28px;
  a {
    color: $off-white;
  }
  i {
    padding: 0 12px;
  }
}

.resume-box {
  z-index: 1;
  display: flex;
  justify-content: center;
  width: 100%;
  #resume-btn {
    font-size: 24px;;
    text-decoration: none;
    color: $orange;
    background-color: $off-white;
    border: 4px solid $orange;
    padding: 8px 12px;
    border-radius: 4px;
  }
}
