// section {
//   min-height: 400px;
//   min-width: 200px;
// }
#about {
  opacity: 0;
  transition: all 0.3s;
  font-size: clamp(2rem, 1.5rem + 1vw, 3rem);
  position: relative;
  min-height: 100vh;
  min-width: 30rem;
  display: flex;
  flex-direction: column;
  width: 100vw;
  background-color: $yellow;
  overflow: hidden;
  p {
    font-family: 'Neucha', monospace, cursive;
    padding: 12px;
    border-radius: 4px;
    background-color: rgba(255, 255, 255, 0.237);
    border-top: 4px solid black;
    border-bottom: 4px solid black;
  }
  .about-title {
    z-index: 3;
    padding-top: 12px;
    display: flex;
    flex-direction: column;
    align-items: end;
    width : 100%;
    h2 {
      font-size: $h2;
      padding-right: 2rem;
    }
    .title-line {
      z-index: 3;
      min-height: 4px;
      width : 45%;
      background-color: $grey;
      border-radius: 4px 0 0 4px;
    }
  }
  .about-text {
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: inherit;
    margin: 3rem 0;
    p {
      color : $dark;
      width: min(64rem, 80%);
      margin: 0 auto;
      overflow: hidden;
    }
    .about-open {
      font-family: 'Racing Sans One', cursive;
      color: $off-white;
      margin-top: 4rem;
    };
  }
  .about-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 3;
    flex-grow: 1;
    opacity: 0;
    transition: all 0.4s;
    img {
      width: min(35rem, 65%);
      border-radius: 8px;
      border-top: 4px solid $off-white;
      border-bottom: 4px solid $off-white;
      margin: 1rem 0;
    }
  }
  .about-bottom {
    z-index: 3;
    flex-grow: 1;
    opacity: 0;
    transition: all 0.4s;
  }
  .skills-title {
    display: flex;
    flex-direction: column;
    width: 100%;
    h3 {
      margin-top: 2rem;
      font-size: 28px;
      padding-left: 8%;
    }
    .title-line {
      z-index: 3;
      height: 4px;
      width : 40%;
      background-color: $grey;
      border-radius: 0 4px 4px 0;
    }
  }
  .skills-container {
    display: grid;
    place-items: center;
    margin: 3rem 2rem 4rem 2rem;
  }
  #skills-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px;
    background-color: rgba(0, 0, 0, 0.08);
    width: min(64rem, 80%);
    min-width: 280px;
    border-top: 4px solid $dark;
    border-bottom: 4px solid $dark;
    ul {
    color : $off-white;
    font-size: 2rem;
    list-style: none;
    }
  }
}
