#contact {
  height: 100vh;
  background-color: $orange;
  h2 {
    font-size: $h2;
    color : $dark;
  }
  h3 {
    font-size: 24px;
  }
  p {
    text-align: center;
    width: 90%;
    font-size: 20px;
  }
  .contact-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 70%;
  }
  .contact-icons {
    display: flex;
    flex-direction: column;
    padding-bottom: 24px;
  }
}
