#contact {
  position: relative;
  height: 40px;
  min-height: 85vh;
  min-width: 200px;
  background-color: $orange;
  display: flex;
  flex-direction: column;
  h2 {
    font-size: $h2;
    color : $dark;
    margin-top: 3rem;
    margin-left: 2rem;
  }
  .title-line {
    min-height: 4px;
    width: 55%;
    background-color: $grey;
  }
  h3 {
    font-size: 24px;
  }
  p {
    margin-top: 1rem;
    text-align: justify;
    font-size: clamp(2rem, 1.5rem + 1vw, 3rem);
    font-family: 'Neucha', monospace, cursive;
  }
  .container {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
  .contact-message {
    display: flex;
    padding: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    margin: 2rem 0;
    border-top: 4px solid $dark;
    border-bottom: 4px solid $dark;
    width: min(64rem, 80%);
    background-color: rgba(255, 255, 255, 0.3);
  }
  .socials {
    margin: 2rem 0 0 0;
  }
  .socials > a {
    font-size: 28px;
    padding: 0 2rem;
    color: $off-white;
    &:visited {
      color: $off-white;
    }
  }
}
#contact > .circle {
  display: none;
    position: absolute;
    bottom: 33px;
    left: 35px;
    height: 122vw;
    width: 80vw;
    border-radius: 50%;
    background-color: $off-white;
    transform: rotate(62deg);
}
