#home {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: start;
  height: 100vh;
  background-color: $dark;
  .title-box {
    padding-left: 1em;
  }
  h1 {
    font-size: $h1;
    color: $orange;
  }
  h2 {
    font-size: $h2;
    color: $light-orange;
    padding-left: 1em;
  }
}
